.global {
    margin: 0 auto;
    width: 1200px;

    .title {
        h1 {
            font-weight: 100;
            font-size: 2.5rem;
            font-family: 'Exo 2' !important;
        }

        h3 {
            font-family: minhaFonte !important;
            font-size: 7rem;
            font-weight: 400;
            color: var(--gray-850);
        }
    }

    .contentCard {
        display: flex;
        justify-content: center;
        align-content: center;

        .contentImgOne {
            position: relative;
            z-index: 1;
            margin-top: 4rem;
            margin-right: -3rem;

            img {
                width: 640px;
                height: 390px;
            }
        }

        .contentText {
            position: absolute;
            z-index: 2;
            width: 600px;
            margin-top: 8rem;
            right: 20%;
            background-color: var(--gray-50);
            padding: 1rem;

            p {
                text-align: justify;
                font-size: 1.2rem;
                font-family: 'Exo 2' !important;
                margin-bottom: 1rem;
            }

            a {
                font-size: 1.2rem;
                font-family: 'Exo 2' !important;
                font-weight: bold;
                color: var(--gray-900);
            }

        }

        .contentImgThree {
            img {
                width: 580px;
                height: 480px;
            }
        }
    }
}

@media(max-width: 1200px) {

    .global {
        width: 100%;

        .title {
            text-align: center;
        }

        .contentCard {
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .contentImgOne {
                margin-top: 4rem;
                margin-right: 0rem;
            }


            .contentText {
                position: static;
                right:none;
                padding: 1rem;
                margin-top: -5rem;
            }

            .contentImgThree {
                margin-top: -25rem;
                img {
                    width: 800px;
                    height: 480px;
                }
            }
        }
    }
}


@media(max-width: 900px) {

    .global {

        .contentCard {
            .contentImgOne {
                img {
                    width: 550px;
                    height: 350px;
                }
            }

            .contentText {
                margin-top: -5rem;
                width: 500px;
            }

            .contentImgThree {
                margin-top: -20rem;
                img {
                    width: 600px;
                    height: 450px;
                }
            }
        }
    }
}


@media(max-width: 700px) {

    .global {

        .contentCard {
            .contentImgOne {
                img {
                    width: 450px;
                    height: 300px;
                }
            }
            .contentText {
                width: 400px;
            }

            .contentImgThree {
                img {
                    width: 500px;
                    height: 300px;
                }
            }
        }
    }
}



@media(max-width: 600px) {

    .global {

        .contentCard {
            .contentImgOne {
                img {
                    width: 380px;
                    height: 270px;
                }
            }
            .contentText {
                width: 350px;
            }

            .contentImgThree {
                img {
                    margin-top: -3rem;
                    width: 400px;
                    height: 350px;
                }
            }
        }
    }
}


@media(max-width: 500px) {

    .global {
          .title {
            h3 {
                position: absolute;
                z-index: 10;
                text-align: center;
                font-size: 6rem;
                left: 0;
                right: 0;
            }
          }
        .contentCard {
            .contentImgOne {
                img {
                    width: 350px;
                    height: 240px;
                }
            }
            .contentText {
                width: 320px;
            }

            .contentImgThree {
                img {
                    margin-top: -10rem;
                    width: 380px;
                    height: 480px;
                }
            }
        }
    }
}


