.header {
    position: fixed;
    z-index: 5;
    width: 100%;
    top: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--gray-100);
    padding: 1rem;
    gap: 10rem;

    font-family: 'Exo 2' !important;
    font-size: 1rem;

    .buttonMobile {
        position: absolute;
        left: 5rem;
        margin-top: -1.1rem;
        width: 30px;
        height: 35px;
        display: none;
    }


    img {
        margin: 0.5rem;
        width: 150px;
    }

    .menu {
        display: flex;
        gap: 1rem;



        span,
        a {
            color: var(--gray-50);
            padding: 0.5rem;

            &:hover {
                filter: brightness(0.5);
            }

            &:nth-child(7) {
                background-color: var(--gray-300);
                border-radius: 12px;

                &:hover {
                    background-color: var(--white);
                    color: var(--gray-300);
                }
            }
        }
    }

    .icon {
        display: flex;
        gap: 0.5rem;
        align-items: center;

        div {
            padding: 0.4rem 0.2rem 0.1rem;
            background-color: var(--gray-300);
            border-radius: 8px;

            img {
                width: 20px;
            }
        }
    }
}

    .menuMobile {
        position: fixed;
        width: 100%;
        height: 100vh;
        justify-content: center;
        align-items: center;

        background: var(--gray-300);

        .contentMenu {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 2.5rem;
            margin-top: 3rem;
            color: var(--white);

            a {
                color: var(--gray-50);
                padding: 0.5rem;

                &:hover {
                    filter: brightness(0.5);
                }

                &:nth-child(7) {
                    background-color: var(--white);
                    color: var(--gray-300);
                    border-radius: 12px;

                    &:hover {
                        background-color: var(--white);
                        color: var(--gray-300);
                    }
                }
            }
        }
    }

@media(max-width: 1850px) {

    .header {
        .menu {
            display: flex;
            gap: 1rem;
            font-size: 10px;
        }
    }
}

@media(max-width: 1400px) {

    .header {

        .buttonMobile {
            display: flex;
        }

        .icon {
            display: none;
        }

        .menu {
            display: none;
        }
    }
}



@media(max-width: 650px) {

    .header {
        gap: 0rem;

        .buttonMobile {
            display: flex;
        }

        img {
            width: 120px;
        }
    }
}


@media(max-width: 500px) {

    .header {
        .buttonMobile {
            left: 2rem;
            display: flex;
        }


        img {
            width: 120px;
        }
    }
}