
.banner {
    img {
        width: 100%;
        margin-top: 4rem;
    }

    .text {
        position: absolute;
        top: 50%;
        left: 50%;  
        text-align: center;

        h1{
            font-size: 7rem;
            font-family: 'Exo 2' !important;
            font-weight: 400;
            color: var(--gray-50);
        }

        h3 {
            font-family: minhaFonte !important;
            font-size: 7rem;
            font-weight: 400;
            margin-top: -3.5rem;
            color: var(--gray-850);
        }
    }
}

@media(max-width:1200px){

    .banner {
        .text {
            h1{
                font-size: 5rem;
            }
    
            h3 {
                font-size: 5rem;
                margin-top: -2.5rem;
            }
        }
    }

}


@media(max-width:900px){

    .banner {

        img {
            margin-top: 5rem;
        }
       
        .text {
            top: 30%;
            left: 50%;  
            h1{
                font-size: 4rem;
            }
        }
    }

}


@media(max-width:600px){

    .banner {

        img {
            margin-top: 4.9rem;
        }
        .text {
            top: 20%;
            left: 30%;  
    
            h1{
                font-size: 3rem;
            }

            h3 {
                font-size: 4rem;
                margin-top: -1.5rem;
            }
        }
    }

}


@media(max-width:500px){

    .banner {
        .text {
            top: 17%;
            left: 25%; 
            h1{
                font-size: 3rem;
            }
            
            h3 {
                font-size: 4rem;
                margin-top: -1.8rem;
            }
        }
    }

}
